/* Reset some default styles */
body, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Style the navigation menu */
nav {
  background-color: #333;
  text-align: center;
}

nav ul {
  display: inline-block;
  padding: 10px 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

nav li a:hover {
  background-color: #555;
}

/* Style the tabs */
main {
  margin-top: 20px;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

/* Additional styling for the content */
.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: justify;
  text-justify: inter-word;
}

.project-item {
  margin-bottom: 20px;
}

.project-item img {
  max-width: 100%;
  height: auto;
}

.contact-links a {
  margin-right: 10px;
  color: #333;
  text-decoration: none;
}
